In [1]:
import pymongo
print(pymongo.__version__)

4.7.3

### Connect

In [5]:
#server
client = pymongo.MongoClient("mongodb://localhost:27017/")
#database
mydb = client["Engines"]
#collection
engineinfo = mydb.engineInformation

### Adding Records

In [7]:
#add one record / document
record = {
    "engine_name":"LS3",
    "manufacture":"GM",
    "capacity":"6.2L",
    "horse_power":425
}
engineinfo.insert_one(record)

InsertOneResult(ObjectId('667613fdfc5299048e577843'), acknowledged=True)

In [10]:
#add multiple records
records = [
    {
    "engine_name":"2JZ",
    "manufacture":"Toyota",
    "capacity":"3.0L",
    "horse_power":350
    },
    {
    "engine_name":"Cayote",
    "manufacture":"Ford",
    "capacity":"5.0L",
    "horse_power":475
    },
    {
    "engine_name":"Godzilla",
    "manufacture":"Ford",
    "capacity":"7.0L",
    "horse_power":525
    }
]
engineinfo.insert_many(records)

InsertManyResult([ObjectId('66761554fc5299048e577844'), ObjectId('66761554fc5299048e577845'), ObjectId('66761554fc5299048e577846')], acknowledged=True)

### Quering

In [17]:
#query one - returns the first entry that match the query
first_entry = engineinfo.find_one()
entry = engineinfo.find_one({"manufacture":"Ford"})
print(f"""first_entry:{first_entry}
other_entry:{entry}""")

first_entry:{'_id': ObjectId('667613fdfc5299048e577843'), 'engine_name': 'LS3', 'manufacture': 'GM', 'capacity': '6.2L', 'horse_power': 425}
other_entry:{'_id': ObjectId('66761554fc5299048e577845'), 'engine_name': 'Cayote', 'manufacture': 'Ford', 'capacity': '5.0L', 'horse_power': 475}

In [22]:
#query all records
for record in engineinfo.find({}):   #similar to SELECT * FROM table_name in SQL
    print(record)
type(record)

{'_id': ObjectId('667613fdfc5299048e577843'), 'engine_name': 'LS3', 'manufacture': 'GM', 'capacity': '6.2L', 'horse_power': 425}
{'_id': ObjectId('66761554fc5299048e577844'), 'engine_name': '2JZ', 'manufacture': 'Toyota', 'capacity': '3.0L', 'horse_power': 350}
{'_id': ObjectId('66761554fc5299048e577845'), 'engine_name': 'Cayote', 'manufacture': 'Ford', 'capacity': '5.0L', 'horse_power': 475}
{'_id': ObjectId('66761554fc5299048e577846'), 'engine_name': 'Godzilla', 'manufacture': 'Ford', 'capacity': '7.0L', 'horse_power': 525}

dict

In [47]:
#skip(n) - the first n results will be skipped
for i,record in enumerate(engineinfo.find().skip(1)):
    print(f"record {i} : {record}\n")

record 0 : {'_id': ObjectId('66761554fc5299048e577844'), 'engine_name': '2JZ', 'manufacture': 'Toyota', 'capacity': '3.0L', 'horse_power': 350}

record 1 : {'_id': ObjectId('66761554fc5299048e577845'), 'engine_name': 'Cayote', 'manufacture': 'Ford', 'capacity': '5.0L', 'horse_power': 475}

record 2 : {'_id': ObjectId('66761554fc5299048e577846'), 'engine_name': 'Godzilla', 'manufacture': 'Ford', 'capacity': '7.0L', 'horse_power': 525}

In [49]:
#limit(n) - will limit the results to n records
for i,record in enumerate(engineinfo.find().limit(3)):
    print(f"record {i} : {record}\n")

record 0 : {'_id': ObjectId('667613fdfc5299048e577843'), 'engine_name': 'LS3', 'manufacture': 'GM', 'capacity': '6.2L', 'horse_power': 425}

record 1 : {'_id': ObjectId('66761554fc5299048e577844'), 'engine_name': '2JZ', 'manufacture': 'Toyota', 'capacity': '3.0L', 'horse_power': 350}

record 2 : {'_id': ObjectId('66761554fc5299048e577845'), 'engine_name': 'Cayote', 'manufacture': 'Ford', 'capacity': '5.0L', 'horse_power': 475}

In [27]:
#query JSON documents based on equality conditions
for i, record in enumerate(engineinfo.find({"manufacture":"Ford"})):   #SELECT * FROM table_name WHERE manufacture=Ford
    print(f"record {i} : {record}\n")

record 0 : {'_id': ObjectId('66761554fc5299048e577845'), 'engine_name': 'Cayote', 'manufacture': 'Ford', 'capacity': '5.0L', 'horse_power': 475}

record 1 : {'_id': ObjectId('66761554fc5299048e577846'), 'engine_name': 'Godzilla', 'manufacture': 'Ford', 'capacity': '7.0L', 'horse_power': 525}

In [32]:
#query $in
for i, record in enumerate(engineinfo.find({'manufacture':{'$in':['Toyota','Ford']}})):
    print(f"record {i} : {record}\n")

record 0 : {'_id': ObjectId('66761554fc5299048e577844'), 'engine_name': '2JZ', 'manufacture': 'Toyota', 'capacity': '3.0L', 'horse_power': 350}

record 1 : {'_id': ObjectId('66761554fc5299048e577845'), 'engine_name': 'Cayote', 'manufacture': 'Ford', 'capacity': '5.0L', 'horse_power': 475}

record 2 : {'_id': ObjectId('66761554fc5299048e577846'), 'engine_name': 'Godzilla', 'manufacture': 'Ford', 'capacity': '7.0L', 'horse_power': 525}

In [33]:
#query $ls
for i, record in enumerate(engineinfo.find({"horse_power":{'$lt':400}})):
    print(f"record {i} : {record}\n")

record 0 : {'_id': ObjectId('66761554fc5299048e577844'), 'engine_name': '2JZ', 'manufacture': 'Toyota', 'capacity': '3.0L', 'horse_power': 350}

In [34]:
#query $gt
for i, record in enumerate(engineinfo.find({"horse_power":{'$gt':500}})):
    print(f"record {i} : {record}\n")

record 0 : {'_id': ObjectId('66761554fc5299048e577846'), 'engine_name': 'Godzilla', 'manufacture': 'Ford', 'capacity': '7.0L', 'horse_power': 525}

In [39]:
#AND
for i,record in enumerate(engineinfo.find({'manufacture':{'$in':['Ford', 'GM']}, 'horse_power':{'$gt':450}})):
    print(f"record {i} : {record}\n")

record 0 : {'_id': ObjectId('66761554fc5299048e577845'), 'engine_name': 'Cayote', 'manufacture': 'Ford', 'capacity': '5.0L', 'horse_power': 475}

record 1 : {'_id': ObjectId('66761554fc5299048e577846'), 'engine_name': 'Godzilla', 'manufacture': 'Ford', 'capacity': '7.0L', 'horse_power': 525}

In [40]:
#OR $or
for i,record in enumerate(engineinfo.find({'$or':[{'manufacture':'GM'},{'horse_power':{'$gt':500}}]})):
    print(f"record {i} : {record}\n")

record 0 : {'_id': ObjectId('667613fdfc5299048e577843'), 'engine_name': 'LS3', 'manufacture': 'GM', 'capacity': '6.2L', 'horse_power': 425}

record 1 : {'_id': ObjectId('66761554fc5299048e577846'), 'engine_name': 'Godzilla', 'manufacture': 'Ford', 'capacity': '7.0L', 'horse_power': 525}

## Nested Documents

In [57]:
#collection
carinfo = mydb.carInformation
#records
car_info = [
    {'model':'covette',
    'yom':2007,
    'origin':'USA'},
    {'model':'supra',
    'yom':2000,
    'origin':'Japan'},
    {'model':'mustang',
    'yom':2013,
    'origin':'USA'},
    {'model':'f250',
    'yom':2017,
    'origin':'USA'}
]

for i,record in enumerate(engineinfo.find()):
    del record['_id']
    car_info[i]['engine'] = record

#add records
carinfo.insert_many(car_info)

InsertManyResult([ObjectId('66763bc9fc5299048e577847'), ObjectId('66763bc9fc5299048e577848'), ObjectId('66763bc9fc5299048e577849'), ObjectId('66763bc9fc5299048e57784a')], acknowledged=True)

In [59]:
for record in carinfo.find():
    print(record)

{'_id': ObjectId('66763bc9fc5299048e577847'), 'model': 'covette', 'yom': 2007, 'origin': 'USA', 'engine': {'engine_name': 'LS3', 'manufacture': 'GM', 'capacity': '6.2L', 'horse_power': 425}}
{'_id': ObjectId('66763bc9fc5299048e577848'), 'model': 'supra', 'yom': 2000, 'origin': 'Japan', 'engine': {'engine_name': '2JZ', 'manufacture': 'Toyota', 'capacity': '3.0L', 'horse_power': 350}}
{'_id': ObjectId('66763bc9fc5299048e577849'), 'model': 'mustang', 'yom': 2013, 'origin': 'USA', 'engine': {'engine_name': 'Cayote', 'manufacture': 'Ford', 'capacity': '5.0L', 'horse_power': 475}}
{'_id': ObjectId('66763bc9fc5299048e57784a'), 'model': 'f250', 'yom': 2017, 'origin': 'USA', 'engine': {'engine_name': 'Godzilla', 'manufacture': 'Ford', 'capacity': '7.0L', 'horse_power': 525}}

### Query Nested Documents

In [62]:
for i,record in enumerate(carinfo.find({'engine.manufacture':'Ford'})):
    print(f"record {i} : {record}\n")

record 0 : {'_id': ObjectId('66763bc9fc5299048e577849'), 'model': 'mustang', 'yom': 2013, 'origin': 'USA', 'engine': {'engine_name': 'Cayote', 'manufacture': 'Ford', 'capacity': '5.0L', 'horse_power': 475}}

record 1 : {'_id': ObjectId('66763bc9fc5299048e57784a'), 'model': 'f250', 'yom': 2017, 'origin': 'USA', 'engine': {'engine_name': 'Godzilla', 'manufacture': 'Ford', 'capacity': '7.0L', 'horse_power': 525}}

In [65]:
for i,record in enumerate(carinfo.find({'engine.manufacture':'Ford', 'engine.horse_power':{'$gt':500}})):
    print(f"record {i} : {record}\n")

record 0 : {'_id': ObjectId('66763bc9fc5299048e57784a'), 'model': 'f250', 'yom': 2017, 'origin': 'USA', 'engine': {'engine_name': 'Godzilla', 'manufacture': 'Ford', 'capacity': '7.0L', 'horse_power': 525}}